 .u-section-1 {
<<<<<<< HEAD
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('7QL0qxnLADAQI15yESv9HKK81alWAVuHzxh7ZBXRYmCXvSmzHnuvqP8ntF8HwRLD5D0hgmQXNnaypN3jI4drUFLLlJvotzUZ8kjk5tLTHu0RLICF3znxWqAHD4.jpeg');
=======
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('static/7QL0qxnLADAQI15yESv9HKK81alWAVuHzxh7ZBXRYmCXvSmzHnuvqP8ntF8HwRLD5D0hgmQXNnaypN3jI4drUFLLlJvotzUZ8kjk5tLTHu0RLICF3znxWqAHD4.jpeg');
>>>>>>> 538a13864b5488ea9f23dd4e0b5d7e5f0d9dc802
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 53px;
  margin-bottom: 53px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 694px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 694px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 572px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 572px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 438px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 438px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1036px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 657px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 657px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 414px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 414px;
  }
}